body{
    background-color: black;
    color: #5cb85c;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

.main-box{
    background-color: 	#292b2c60;
}

#chat-window{
    padding-left: 2px;
    min-height: 70vh;
    max-height: 70vh;
    overflow: hidden scroll;
}

#chat-window::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    /* display: none; */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
#chat-window::-webkit-scrollbar-thumb {
    background: #5cb85c;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
#chat-window::-webkit-scrollbar-thumb:hover {
    background: #6add4e;
}

/* Cambiamos el fondo cuando esté en active */
#chat-window::-webkit-scrollbar-thumb:active {
    background-color: #6add4e;
}

#send{
    max-height: 38px;
}

#output{
    max-width: 70%;
    overflow-wrap: break-word;
}

.search{
    max-width: 75%;
    min-width: 75%;
    max-height: 30px;
    min-height: 30px;
    font-size: 8px;
}

.search-btn{
    max-width: 25%;
    min-width: 25%;
    max-height: 30px;
    min-height: 30px;
    font-size: 5px;
}

#login{
    line-height: 20px;
}