.groups Button{
    font-size: 8px;
    display: block;
    min-width: 100%;
    margin:5px auto;
}

.groups p{
    text-align: center;
}
.createGroup{
    display: none;
}

.joinGroup{
    display: none;
}

@media only screen and (max-width: 450px) {
    .title {
        font-size: 25px;
    }
    .link a span{
        display: block;
    }
    .link a {
        text-align: center;
    }
    .createGroup button, .joinGroup button{
        font-size: 10px;
    };
    .createGroup a, .joinGroup a{
        font-size: 10px;       
    }
  }

  @media only screen and (min-width: 990px) {
    .createGroup{
        min-width: 400px;
        display: none;
    }
    
    .joinGroup{
        min-width: 400px;
        display: none;
    }
  }